* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    background-color: rgb(255, 247, 234);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.nav {
    position: fixed;
    background-color: rgb(255, 247, 234);
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all .3s ease-in-out;


}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    padding: 7px 15px;
    color: rgb(0, 13, 68);
    transition: all .3s ease-in-out;

}

.nav.active {
    background-color: rgb(140, 136, 151);
    box-shadow: 0 2px 10px rgba(0, 13, 68, 0.3);

}

.nav.active a {
    color: rgb(255, 247, 234);
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: rgb(105, 87, 141);
    font-weight: bold;

}

.nav.active a.current,
.nav.active a:hover {
    color: rgb(0, 13, 68);
    font-weight: bold;

}

.hero {
    color: rgb(0, 13, 68);
    background-image: url(riccardo-trimeloni-lc5iIZ7UO1w-unsplash.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    z-index: -1;
}

.hero h1 {
    font-size: 3rem;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.content h3 {
    font-size: 150%;
    margin: 20px 0;
    color: rgb(0, 13, 68);
}

.content p {
    color: rgb(0, 13, 68);
    line-height: 30px;
    letter-spacing: 1.2px;
}